/NetBeansProjects/UpdateNotifier/nbproject/private/
/NetBeansProjects/UpdateNotifier/build/
/NetBeansProjects/UpdateNotifier/dist/
/NetBeansProjects/TrainSceneBuild/nbproject/private/
/NetBeansProjects/GluonSample/.nb-gradle/
/NetBeansProjects/GluonApplication/.nb-gradle/
/NetBeansProjects/TestSB/nbproject/private/
/NetBeansProjects/TestSB/build/
/NetBeansProjects/TestSB/dist/
/NetBeansProjects/AddressApp/nbproject/private/
/NetBeansProjects/AddressApp/dist/
/NetBeansProjects/AddressApp/build/
/NetBeansProjects/TestDBCP/nbproject/private/
/NetBeansProjects/TestDBCP/build/
/NetBeansProjects/TestDBCP/dist/
/NetBeansProjects/ChordCommand/nbproject/private/
/NetBeansProjects/ChordCommand/build/
/NetBeansProjects/ChordCommand/dist/