# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/NetBeansProjects/UpdateNotifier/nbproject/private/
/NetBeansProjects/UpdateNotifier/build/
/NetBeansProjects/UpdateNotifier/dist/
/NetBeansProjects/TrainSceneBuild/nbproject/private/
/NetBeansProjects/GluonSample/.nb-gradle/
/NetBeansProjects/GluonApplication/.nb-gradle/
/NetBeansProjects/TestSB/nbproject/private/
/NetBeansProjects/TestSB/build/
/NetBeansProjects/TestSB/dist/
/NetBeansProjects/AddressApp/nbproject/private/
/NetBeansProjects/AddressApp/dist/
/NetBeansProjects/AddressApp/build/
/NetBeansProjects/TestDBCP/nbproject/private/
/NetBeansProjects/TestDBCP/build/
/NetBeansProjects/TestDBCP/dist/
/NetBeansProjects/ChordCommand/nbproject/private/
/NetBeansProjects/ChordCommand/build/
/NetBeansProjects/ChordCommand/dist/
/ChordCommand/nbproject/private/
/nbproject/private/
/build/
/nbproject/nbproject/private/
CC_data_walkthrough.mp4
CC_reuse_walkthrough.mp4
CC_verify_walkthrough.mp4
chirsch_system_walkthrough.mp4